<div class="wrapper">
    <!-- fixed navigation bar -->
    <div class="navbar navbar-fixed-top navbar-inverse position-relative" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="b-menu-1">
                <ul class="nav navbar-nav navbar-right">
                        <li  ><a  routerLink="project" >Add Project</a></li>
                    <li  ><a routerLink="task" >Add Task</a></li>
                    <li ><a  routerLink="viewTask" >View Task</a></li>
                    <li  ><a  routerLink="user" >Add User</a></li>
                </ul>
            </div> <!-- /.nav-collapse -->y
        </div> <!-- /.container -->
    </div> <!-- /.navbar -->
    <router-outlet class="hidden-router"></router-outlet>
</div>

<div class="push"></div>
<footer class="footer"></footer>
